<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:用于隔离SQL全局唯一（采用接口和XML开发时为接口的全路径）
 -->
<mapper namespace="com.dj.mall.mapper.dict.freight.FreightMapper">

    <select id="findFreightList" resultType="com.dj.mall.mapper.bo.dict.freight.FreightBO">

        SELECT
            ddf.id,
            ddf.base_id,
            ddf.freight,
            dabd.`name` AS base_name
        FROM
            djmall_dict_freight ddf
        LEFT JOIN djmall_auth_base_data dabd ON ddf.base_id = dabd.id


    </select>
</mapper>