<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:用于隔离SQL全局唯一（采用接口和XML开发时为接口的全路径）
 -->
<mapper namespace="com.dj.mall.mapper.dict.product_sku.ProductSkuMapper">


    <select id="findProductSKUList" resultType="com.dj.mall.mapper.bo.dict.product_sku.ProductSKUBO">

        SELECT
            dabd.id,
            dabd.`name`,
            dabd.`code`,
            GROUP_CONCAT(ddpa.attr SEPARATOR ",") AS attr
        FROM
            djmall_auth_base_data dabd
        LEFT JOIN djmall_dict_product_sku_gm ddpsg ON dabd.`code` = ddpsg.product_type
        LEFT JOIN djmall_dict_product_attr ddpa ON ddpa.id = ddpsg.attr_id
        WHERE
            dabd.parent_code = #{parentCode}
        GROUP BY
            dabd.id



    </select>
    <select id="findProductAttrList" resultType="java.lang.Integer">

          SELECT
            ddpsg.attr_id as attr_ids
        FROM
            djmall_auth_base_data dabd
        LEFT JOIN djmall_dict_product_sku_gm ddpsg ON ddpsg.product_type = dabd.`code`
        WHERE dabd.id = #{productId}
    </select>
</mapper>