<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:用于隔离SQL全局唯一（采用接口和XML开发时为接口的全路径）
 -->
<mapper namespace="com.dj.mall.mapper.auth.user.UserSiteMapper">


    <select id="findListByUserId" resultType="com.dj.mall.mapper.bo.auth.user.UserSiteBO">

        SELECT
            dus.id,
            dus.consignee,
            dus.phone,
            da.area_name AS province_show,
            daa.area_name AS city_show,
            daaa.area_name AS county_show,
            dus.site
        FROM
            djmall_user_site dus
        LEFT JOIN djmall_area da ON dus.province = da.id
        LEFT JOIN djmall_area daa ON dus.city = daa.id
        LEFT JOIN djmall_area daaa ON dus.county = daaa.id
        WHERE dus.user_id = #{userId}

    </select>
</mapper>