<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:用于隔离SQL全局唯一（采用接口和XML开发时为接口的全路径）
 -->
<mapper namespace="com.dj.mall.mapper.auth.user.UserMapper">


    <select id="getUserResourceByUserId" resultType="com.dj.mall.entity.auth.resource.Resource">

        SELECT
            dar.id,
            dar.resource_name,
            dar.parent_id,
            dar.url,
            dar.resource_code,
            dar.is_del,
            dar.type
        FROM
            djmall_auth_user_role dur
        LEFT JOIN djmall_auth_role_resource drr ON dur.role_id = drr.role_id
        LEFT JOIN djmall_auth_resource dar ON drr.resource_id = dar.id
        WHERE
            dur.user_id = #{userId}

    </select>
    <select id="findUserList" resultType="com.dj.mall.mapper.bo.auth.user.UserBo">


        SELECT
            dau.id,
            dau.user_name,
            dau.nick_name,
            dau.password,
            dau.phone,
            dau.email,
            dau.type,
            dau.salt,
            dau.is_del,
            dau.verify,
            dau.status,
            dau.create_time,
            dar.role_name,
            dabd.`name` as status_show,
            da.`name` as sex_show,
            MAX(dal.end_time) AS end_time
        FROM
            djmall_auth_user dau
        LEFT JOIN djmall_auth_role dar ON dau.type = dar.id
        LEFT JOIN djmall_auth_base_data dabd ON dau.`status` = dabd.`code`
        LEFT JOIN djmall_auth_base_data da ON da.`code` = dau.sex
        LEFT JOIN djmall_auth_login_end_time dal ON dau.id = dal.user_id
        where (dau.is_del = 1 or dau.is_del = 0)
        <if test="user.type != null">
            and dau.type = #{user.type}
        </if>
        <if test="user.status != null and user.status != ''">
            and dau.status = #{user.status}
        </if>
        <if test="user.sex != null and user.sex != ''">
            and dau.sex = #{user.sex}
        </if>
        <if test="user.userName != null and user.userName != ''">
            and (dau.user_name = #{user.userName} or dau.phone = #{user.userName} or dau.email = #{user.userName})
        </if>
        GROUP BY dal.user_id
    </select>
    <select id="findUserLoginGroupByDay" resultType="com.dj.mall.mapper.bo.auth.user.UserBo">


        SELECT
            COUNT(DISTINCT dalet.user_id) AS echars_count,
            DATE_FORMAT(dalet.end_time, '%Y-%m-%d') AS echars_time
        FROM
            djmall_auth_login_end_time dalet
        LEFT JOIN djmall_auth_user_role daur ON daur.user_id = dalet.user_id
        WHERE
            daur.role_id = 3
        GROUP BY
            DATE_FORMAT(dalet.end_time, '%Y-%m-%d')


--         SELECT
--             login.ent_time AS echars_time,
--             COUNT(0) AS echars_count
--         FROM
--             (
--                 SELECT
--                     dalet.user_id,
--                     MAX(dalet.end_time) AS ent_time
--                 FROM
--                     djmall_auth_login_end_time dalet
--                 LEFT JOIN djmall_auth_user_role daur ON daur.user_id = dalet.user_id
--                 WHERE
--                     daur.role_id = 3
--                 GROUP BY
--                     dalet.user_id,DATE_FORMAT(dalet.end_time, '%Y-%m-%d')
--             ) AS login
--         GROUP BY
--             DATE_FORMAT(login.ent_time, '%Y-%m-%d')





    </select>
    <select id="findUserOrderGroupByDay" resultType="com.dj.mall.mapper.bo.auth.user.UserBo">

        SELECT
            dor.pay_time AS echars_time,
            COUNT(0) AS echars_count
        FROM
            djmall_order dor
        WHERE
            dor.order_status != '已取消'
        AND dor.order_status != '待支付'
        GROUP BY
            DATE_FORMAT(dor.pay_time, '%Y-%m-%d')

    </select>
    <select id="findProductOrder" resultType="com.dj.mall.mapper.bo.auth.user.UserBo">

        SELECT
            dps.product_name,
            SUM(dod.buy_count) AS echars_count
        FROM
            djmall_order_detail dod
        LEFT JOIN djmall_order_info doi ON dod.child_order_no = doi.order_no
        LEFT JOIN djmall_product_spu dps ON dod.product_id = dps.id
        WHERE
            doi.order_status != '已取消'
        AND doi.order_status != '待支付'
        GROUP BY
            dod.product_id


    </select>
</mapper>