<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:用于隔离SQL全局唯一（采用接口和XML开发时为接口的全路径）
 -->
<mapper namespace="com.dj.mall.mapper.product.product_spu.ProductSpuMapper">


    <select id="findAttrByProductType" resultType="com.dj.mall.mapper.bo.product.ProductSpuBO">

        SELECT
            ddpa.id AS attr_id,
            ddpa.attr AS attr_name,
            GROUP_CONCAT(ddpav.id) AS attr_value_ids,
            GROUP_CONCAT(ddpav.`name`) AS attr_values
        FROM
            djmall_dict_product_sku_gm ddpsg
        LEFT JOIN djmall_dict_product_attr ddpa ON ddpsg.attr_id = ddpa.id
        LEFT JOIN djmall_dict_product_attr_value ddpav ON ddpav.attr_id = ddpa.id
        WHERE ddpsg.product_type = #{productType}
        GROUP BY
            ddpa.id


    </select>


    <select id="findProductList" resultType="com.dj.mall.mapper.bo.product.ProductSpuBO">

        SELECT
            dps.id AS product_id,
            dps.product_name,
            dps.spu_status,
            dps.img,
            dps.product_order,
            dps.praise,
            dps.product_describe,
            dabd.`name`,
            ddf.freight,
            dpsk.sku_attr_names,
            dpsk.sku_attr_value_names,
            dpsk.sku_price,
            dpsk.sku_count,
            dpsk.sku_rate,
            dab.`name` as fre_name
        FROM
            djmall_product_spu dps
        LEFT JOIN djmall_auth_base_data dabd ON dps.type = dabd.`code`
        LEFT JOIN djmall_dict_freight ddf ON dps.freight_id = ddf.id
        LEFT JOIN djmall_product_sku dpsk ON dpsk.product_id = dps.id
        LEFT JOIN djmall_auth_base_data dab ON ddf.base_code = dab.`code`
        WHERE
            dpsk.is_default = 0
        <if test="product.productName != null and product.productName != ''">
            and dps.product_name = #{product.productName}
        </if>
        <if test="product.spuStatus != null">
            and dps.spu_status = #{product.spuStatus}
        </if>
        <if test="product.skuPriceMax != null">
            and dpsk.sku_price &lt; #{product.skuPriceMax}
        </if>
        <if test="product.skuPriceMin != null">
            and dpsk.sku_price  &gt; #{product.skuPriceMin}
        </if>
        <if test="product.types != null">
            and dps.type in
            <foreach collection="product.types" item="type" open="(" close=")" separator=",">
                #{type}
            </foreach>
        </if>
        <if test="product.userId != null">
            and dps.user_id = #{product.userId}
        </if>
        GROUP BY
            dpsk.product_id



    </select>

    <select id="findProductById" resultType="com.dj.mall.mapper.bo.product.ProductSpuBO">
        SELECT
            dps.id as product_id,
            dps.product_name,
            dps.freight_id,
            dps.product_describe,
            dps.img,
            dabd.`name`
        FROM
            djmall_product_spu dps
        LEFT JOIN djmall_auth_base_data dabd ON dps.type = dabd.`code`
        WHERE dps.id = #{id}



    </select>
    <select id="findProById" resultType="com.dj.mall.mapper.bo.product.ProductSpuBO">

        SELECT
            dps.id as product_id,
            dps.product_name,
            dsk.sku_price,
            dsk.sku_rate,
            ddf.freight,
            dps.img,
            dps.product_describe,
            dsk.id as product_sku_id,
            dsk.sku_attr_names,
            dsk.sku_attr_value_names,
            dps.praise,
            dsk.sku_count
        FROM
            djmall_product_spu dps
        LEFT JOIN djmall_product_sku dsk ON dps.id = dsk.product_id
        LEFT JOIN djmall_dict_freight ddf ON dps.freight_id = ddf.id
        <where>
            <if test="product.productSpuId != null">
                dps.id = #{product.productSpuId}
            </if>
            <if test="product.isDefault != null">
                AND dsk.is_default= #{product.isDefault}
            </if>

            <if test="product.productSkuId != null">
                AND dsk.id= #{product.productSkuId}
            </if>
        </where>


    </select>
</mapper>