<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:用于隔离SQL全局唯一（采用接口和XML开发时为接口的全路径）
 -->
<mapper namespace="com.dj.mall.mapper.product.product_spu.ProductSpuMapper">


    <select id="findAttrByProductType" resultType="com.dj.mall.mapper.bo.product.ProductSpuBO">

        SELECT
            ddpa.id AS attr_id,
            ddpa.attr AS attr_name,
            GROUP_CONCAT(ddpav.id) AS attr_value_ids,
            GROUP_CONCAT(ddpav.`name`) AS attr_values
        FROM
            djmall_dict_product_sku_gm ddpsg
        LEFT JOIN djmall_dict_product_attr ddpa ON ddpsg.attr_id = ddpa.id
        LEFT JOIN djmall_dict_product_attr_value ddpav ON ddpav.attr_id = ddpa.id
        WHERE ddpsg.product_type = #{productType}
        GROUP BY
            ddpa.id


    </select>
</mapper>