<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:用于隔离SQL全局唯一（采用接口和XML开发时为接口的全路径）
 -->
<mapper namespace="com.dj.mall.mapper.order.OrderDetailMapper">


    <select id="findOrderDetailList" resultType="com.dj.mall.mapper.bo.order.OrderDetailBO">
        SELECT
            dps.product_name,
            dod.sku_info,
            dod.buy_count,
            dod.sku_price,
            dod.sku_rate,
            dod.product_id,
            dod.sku_id
        FROM
            djmall_order_detail dod
        LEFT JOIN djmall_product_spu dps ON dod.product_id = dps.id
        <where>
            <if test="order.orderNo != null and order.orderNo != ''">
                dod.parent_order_no = #{order.orderNo}
            </if>
            <if test="order.childOrderNo != null and order.childOrderNo != ''">
                dod.child_order_no = #{order.childOrderNo}
            </if>
        </where>


    </select>
    <select id="findOrderBychildOrderNoList" resultType="com.dj.mall.mapper.bo.order.OrderDetailBO">

        SELECT
            dod.child_order_no,
            dps.product_name
        FROM
            djmall_order_detail dod
        LEFT JOIN djmall_product_spu dps ON dod.product_id = dps.id
        WHERE
            dod.child_order_no in
        <foreach collection="childOrderNoList" item="childOrderNo" open="(" close=")" separator=",">
            #{childOrderNo}
        </foreach>

    </select>
    <select id="findOrderCommentByChildOrderNoList" resultType="com.dj.mall.mapper.bo.order.OrderDetailBO">

        SELECT
        cd.order_no as child_order_no,
        COUNT(0) AS count
        FROM
        (
        SELECT
        *
        FROM
        `comment` c
        WHERE
        c.order_no IN
        <foreach collection="childOrderNoList" item="childOrderNo" open="(" close=")" separator=",">
            #{childOrderNo}
        </foreach>
        GROUP BY
        c.order_no,
        c.product_id
        ) AS cd
        GROUP BY
        cd.order_no




<!--        SELECT-->
<!--            dod.child_order_no,-->
<!--            c.order_no AS comment_child_order_no,-->
<!--            c.comment_type,-->
<!--            c.user_id,-->
<!--            ct.product_id-->
<!--        FROM-->
<!--        djmall_order_detail dod-->
<!--        LEFT JOIN `comment` c ON c.order_no = dod.child_order_no-->
<!--        LEFT JOIN `comment` ct ON ct.product_id = dod.product_id-->
<!--        WHERE-->
<!--        dod.child_order_no IN-->
<!--        <foreach collection="childOrderNoList" item="childOrderNo" open="(" close=")" separator=",">-->
<!--            #{childOrderNo}-->
<!--        </foreach>-->


<!--        SELECT-->
<!--            dod.child_order_no,-->
<!--            c.comment_type,-->
<!--            c.user_id-->
<!--        FROM-->
<!--            djmall_order_detail dod-->
<!--        LEFT JOIN `comment` c ON c.product_id = dod.product_id-->
<!--        WHERE-->
<!--            dod.child_order_no IN-->
<!--        <foreach collection="childOrderNoList" item="childOrderNo" open="(" close=")" separator=",">-->
<!--            #{childOrderNo}-->
<!--        </foreach>-->



    </select>
    <select id="findOrderCommentCount" resultType="com.dj.mall.mapper.bo.order.OrderDetailBO">

        SELECT
            cd.child_order_no,
            COUNT(0) AS count
        FROM
            (
                SELECT
                    *
                FROM
                    djmall_order_detail dod
                WHERE
                    dod.child_order_no IN
                <foreach collection="childOrderNoList" item="childOrderNo" open="(" close=")" separator=",">
                    #{childOrderNo}
                </foreach>
                GROUP BY
                    dod.child_order_no,
                    dod.product_id
            ) AS cd
        GROUP BY
            cd.child_order_no


    </select>
</mapper>