<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace:用于隔离SQL全局唯一（采用接口和XML开发时为接口的全路径）
 -->
<mapper namespace="com.dj.mall.mapper.order.OrderInfoMapper">


    <select id="findOrderList" resultType="com.dj.mall.mapper.bo.order.OrderInfoBO">

        SELECT
            doi.order_no,
            dps.product_name,
            dau.user_name,
            doi.total_buy_count,
            dod.sku_rate,
            dod.pay_money,
            dabd.`name`,
            doi.total_freight,
            doi.receiver_name,
            doi.receiver_phone,
            doi.receiver_province,
            doi.receiver_city,
            doi.receiver_county,
            doi.receiver_detail,
            doi.create_time,
            doi.pay_time,
            doi.order_status
        FROM
            djmall_order_info doi
        LEFT JOIN djmall_product_spu dps ON doi.product_id = dps.id
        LEFT JOIN djmall_auth_user dau ON dau.id = doi.business_id
        LEFT JOIN djmall_order_detail dod ON dod.child_order_no = doi.order_no
        LEFT JOIN djmall_auth_base_data dabd ON doi.pay_type = dabd.`code`
        <where>

            <if test="roleId == 1">
                doi.business_id = #{userId}
            </if>

        </where>



    </select>
</mapper>